/wahyu/LatihanHelloWorld/nbproject/private/
/wahyu/Tugas1_0617123020/nbproject/private/
/wahyu/Tugas1_0617123020/build/
/wahyu/Praktikum/nbproject/private/
/wahyu/Praktikum/build/
/wahyu/Tugas_2_0617123020/nbproject/private/
/wahyu/Tugas_2_0617123020/build/