/zaenalmuttaqin/Praktikum/nbproject/private/
/zaenalmuttaqin/Praktikum/build/
/zaenalmuttaqin/Praktikum/dist/
/zaenalmuttaqin/Tugas2/nbproject/private/
/zaenalmuttaqin/Tugas2/build/
/zaenalmuttaqin/Tugas2/dist/